.player-page {

  width: 100%;

  max-width: 1700px;

  margin: 0 auto;

  padding: 20px;

  display: grid;

  grid-template-columns: 320px 1fr;

  gap: 24px;

  align-items: start;

}

/* LEFT */

.sidebar {

  display: flex;

  flex-direction: column;

  gap: 20px;

  position: sticky;

  top: 20px;

}

/* RIGHT */

.content {

  display: flex;

  flex-direction: column;

  gap: 24px;

}