<div
  class="player-page"
  *ngIf="player$ | async as player"
>

  <!-- LEFT -->
  <div class="sidebar">

    <app-player-header
      [player]="player">
    </app-player-header>

    <app-player-ranks
      [player]="player">
    </app-player-ranks>

  </div>

  <!-- RIGHT -->
  <div class="content">

    <app-player-navbar></app-player-navbar>

    <app-player-overview
      [player]="player">
    </app-player-overview>

    <app-player-stats
      [player]="player">
    </app-player-stats>

    <app-player-weapons
      [player]="player">
    </app-player-weapons>

    <app-player-maps
      [player]="player">
    </app-player-maps>

    <app-player-matches
      [player]="player">
    </app-player-matches>

  </div>

</div>